.context-menu {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    background-color: #f2f2f2;
    border: 1px solid #999;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.context-menu a {
    display: block;
    padding: 3px;
    text-decoration: none;
    color: #333;
}

.context-menu a:hover {
    background-color: #666;
    color: white;
}

.panel {
    float: left;
    width: 100%
}

.column {
    float: left;
    width: 30%;
    background-color: #A8A8A9;
    margin-right: 5px;
    padding: 10px;
    padding-bottom: 9010px;
    margin-bottom: -9000px;
    border: 1px solid #000
}

.chat-small-box {
    border: solid 1px #DEDEDE;
    background: #FFFFCC;
    color: #222222;
    padding: 4px;
    text-align: center;
    width: 200px;
}

.a-no-borders {
    text-decoration: none;
    border: none;
    padding: 0;
    margin: 0
}

.a-no-borders img {
    border: none;
}

#chatPanel {
    width: 100%;
}

#chatCreation {
    width: 50%;
    float: left;
}

#mainChat {
    width: 30%;
    float: left;
}

#message {
    width: 350px;
    height: 22px;
    border: 1px teal solid;
    float: left;
    margin-top: 1px;
}

#chatBox {
    font-family: tahoma;
    font-size: 12px;
    color: black;
    border: 1px teal solid;
    height: 225px;
    width: 400px;
    overflow: scroll;
    float: left;

}

#chatUsers {
    font-family: tahoma;
    font-size: 14;
    color: orange;
    border: 1px teal solid;
    width: 150px;
    height: 225px;
    overflow: scroll;
    margin-left: 1px;
}

#message {
    width: 350px;
    height: 22px;
    border: 1px teal solid;
    float: left;
    margin-top: 1px;
}

form {
/* set width in form, not fieldset (still takes up more room w/ fieldset width */
    font: 100% verdana, arial, sans-serif;
    margin: 0;
    padding: 0;
    min-width: 500px;
    max-width: 600px;
    width: 560px;
}

form fieldset {
/ * clear : both;
    note that this clear causes inputs to break to left in ie5 . x mac, commented out */ border-color: #000;
    border-width: 1px;
    border-style: solid;
    padding: 10px; /* padding in fieldset support spotty in IE */
    margin: 0;
}

form fieldset legend {
    font-size: 1.1em; /* bump up legend font size, not too large or it'll overwrite border on left */
/* be careful with padding, it'll shift the nice offset on top of border  */
}

form label {
    display: block; /* block float the labels to left column, set a width */
    float: left;
    width: 150px;
    padding: 0;
    margin: 5px 0 0; /* set top margin same as form input - textarea etc. elements */
    text-align: right;
}

form fieldset label:first-letter {
/* use first-letter pseudo-class to underline accesskey, note that */
    text-decoration: underline; /* Firefox 1.07 WIN and Explorer 5.2 Mac don't support first-letter */
/* pseudo-class on legend elements, but do support it on label elements */
/* we instead underline first letter on each label element and accesskey */
/* each input. doing only legends would  lessens cognitive load */
/* opera breaks after first letter underlined legends but not labels */
}

form input, form textarea {
/* display: inline; inline display must not be set or will hide submit buttons in IE 5x mac */
    width: auto; /* set width of form elements to auto-size, otherwise watch for wrap on resize */
    margin: 5px 0 0 10px;
    /* set margin on left of form elements rather than right of
label aligns textarea better in IE */
}

form input#reset {
    margin-left: 0px; /* set margin-left back to zero on reset button (set above) */
}

textarea {
    overflow: auto;
}

form small {
    display: block;
    margin: 0 0 5px 160px; /* instructions/comments left margin set to align w/ right column inputs */
    padding: 1px 3px;
    font-size: 88%;
}

form .required {
    font-weight: bold;
}

/* uses class instead of div, more efficient */

form br {
    clear: left; /* setting clear on inputs didn't work consistently, so brs added for degrade */
}

#notes div {
    position: relative;
    min-height: 30px;
    margin: 25px auto;
    padding: 15px 15px 15px 15px;
    background: #fff no-repeat 4px 8px;
    -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 2px 12px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 2px #000;
    -webkit-transform: rotate(-.5deg);
    -moz-transform: rotate(-.5deg);
    -o-transform: rotate(-.5deg);
}

#notes div:nth-child(even) {
    -webkit-transform: rotate(.5deg);
    -moz-transform: rotate(.5deg);
    -o-transform: rotate(.5deg);
}

#notes div.kiln {
    background-image: url(https://rob.kilnhg.com/Content/Images/kiln_focus.gif);
}

#notes div p {
    text-align: center;
    color: #000;
    text-shadow: white 1px 1px 0px;
    overflow: hidden;
}

#notes div::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 115px;
    top: -15px;
    width: 75px;
    height: 25px;
    z-index: 2;
    background-color: rgba(243, 245, 228, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 5px #888;
    -moz-box-shadow: 0 0 5px #888;
    box-shadow: 2px 2px 2px #000;
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
}

#notes div:nth-child(even)::before {
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -o-transform: rotate(6deg);
}

.columnUl li {
    list-style: none;
    width: 300px;
    height: 90px;
}
