.column {
    position: relative;
    width: 46%;
    padding: 1%;
    border: solid 1px #000;
}

#columns .left {
    float: left;
}

#columns .right {
    float: right;
}

.chat-small-box{
    border:solid 1px #DEDEDE;
    background:#FFFFCC;
    color:#222222;
    padding:4px;
    text-align:center;
    width:200px;
}

.a-no-borders{
    text-decoration: none;
    border: none;
    padding: 0;
    margin: 0
}

.a-no-borders img{
    border: none;
}