<div id="main">
  <ul>
    <li><a href="#panel">Panel</a></li>
    <li><a href="#tabs-2">Issues</a></li>
    <li><a href="#tabs-3">Detailed Backlog</a></li>
    <li><a href="#tabs-4">Pair Programming</a></li>
    <li><a href="#tabs-5">Source</a></li>
    <li><a href="#chat">CI</a></li>
  </ul>
  <div id="panel">
    <p>TODO 0</p>
  </div>
  <div id="tabs-2">
    <p>TODO 1</p>
  </div>
  <div id="tabs-3">
    <p>TODO 2</p>
  </div>
  <div id="tabs-4">
    <p>TODO 3</p>
  </div>
  <div id="tabs-5">
    <p>TODO 4</p>
  </div>
  <div id="chat">
    <p>TODO 5</p>
  </div>
</div>

